* {
    /*set up all the default values here */
    font-family: Calibri;
    font-size: 20px;
    color: navy;
    cursor: url(customCursor.png) 2 2, auto;;
}

body {
    	background-color: lightblue;
        margin-left:  20px;
	   border-style: solid;
}

h1 {
    font-size: 50px;
    text-align: center;
    /* font-family: "Times New Roman"  how to set an indivual font */
}
h2
{
	font-size: 30px;
	text-align: center;
}
h3,form
{
	text-align: center;
}




li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
